
.icon-camera-outline:before { content: '\e800'; } /* '' */
.icon-erase:before { content: '\e801'; } /* '' */
.icon-cw:before { content: '\e802'; } /* '' */
.icon-power:before { content: '\e803'; } /* '' */
.icon-ok-1:before { content: '\e804'; } /* '' */
.icon-right-open:before { content: '\e805'; } /* '' */
.icon-left-open:before { content: '\e806'; } /* '' */
.icon-down-open:before { content: '\e807'; } /* '' */
.icon-up-open:before { content: '\e808'; } /* '' */
.icon-arrows-cw:before { content: '\e809'; } /* '' */
.icon-lock:before { content: '\e80a'; } /* '' */
.icon-lock-open:before { content: '\e80b'; } /* '' */
.icon-user-1:before { content: '\e80c'; } /* '' */
.icon-cog-1:before { content: '\e80d'; } /* '' */
.icon-cog-alt:before { content: '\e80e'; } /* '' */
.icon-wrench-1:before { content: '\e80f'; } /* '' */
.icon-user-add:before { content: '\e810'; } /* '' */
.icon-down-dir-1:before { content: '\e811'; } /* '' */
.icon-up-dir:before { content: '\e812'; } /* '' */
.icon-left-dir:before { content: '\e813'; } /* '' */
.icon-right-dir-1:before { content: '\e814'; } /* '' */
.icon-users:before { content: '\e815'; } /* '' */
.icon-emo-laugh:before { content: '\e816'; } /* '' */
.icon-great:before { content: '\e817'; } /* '' */
.icon-average:before { content: '\e818'; } /* '' */
.icon-good:before { content: '\e819'; } /* '' */
.icon-bad:before { content: '\e81a'; } /* '' */
.icon-excelent:before { content: '\e81b'; } /* '' */
.icon-loading:before { content: '\e81c'; } /* '' */
.icon-cash:before { content: '\e821'; } /* '' */
.icon-account:before { content: '\e822'; } /* '' */
.icon-star:before { content: '\e823'; } /* '' */
.icon-bell:before { content: '\e824'; } /* '' */
.icon-sliders:before { content: '\e825'; } /* '' */
.icon-investment:before { content: '\e826'; } /* '' */
.icon-money:before { content: '\e827'; } /* '' */
.icon-my-account:before { content: '\e828'; } /* '' */
.icon-chat:before { content: '\e829'; } /* '' */
.icon-sliders-1:before { content: '\f1de'; } /* '' */